@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

relationshiptracker1 {
  display: block;
  width: 600px;
  margin: auto;
  background: rgba(var(--bgelev1));
  padding: 15px;
  border-radius: 10px;
  font: 600 13px nunito;
}
relationshiptracker1in {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top left, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
relt1svgs {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.relt1wave1 { display: block; width: calc(100% + 1px); height: 150px; background: rgba(var(--bgelev1)); -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'%3E%3Cpath d='M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); }
.relt1wave2 { display: block; width: 100%; height: 150px; background: rgba(var(--bgelev1)); -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'%3E%3Cpath d='M0,192L60,208C120,224,240,256,360,224C480,192,600,96,720,96C840,96,960,192,1080,218.7C1200,245,1320,203,1380,181.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); }
relt1svgs .relt1wave1:nth-child(1) { position: absolute; top: 0; left: 0; right: -1px; width: calc(100% + 1px); transform: rotate(180deg); transform-origin: 50% 50%; fill: var(--bgelev6)); }
relt1svgs .relt1wave1:nth-child(2) { position: absolute; bottom: 0; left: 0%; width: 120%; opacity: .5; transform: scaleX(-1); transform-origin: 50% 50%; }
relt1svgs .relt1wave2:nth-child(3) { position: absolute; bottom: -20px; left: 0%; width: 120%; opacity: .3;  transform-origin: 50% 50%; }
relt1grid {
  position: relative;
  z-index: 2;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-gap: 20px;
  padding: 25px;
  padding-top: 100px;
}
relationshiptracker1 topper {
  order: 1;
  width: 100%;
  display: flex;
  place-content: center space-between;
  align-items: center;
  grid-column: 1 / -1;
}
relationshiptracker1 topper i {
  display: block;
  font-size: 30px;
  line-height: 100%;
  text-align: center;
  background: rgba(var(--bgelev1));
  padding: 15px;
  border-radius: 10px;
  display: flex;
  place-content: center center;
  align-items: center;
  color: var(--fontaccent4);
}
relt1head {
  display: block;
  justify-self: end;
  background: rgba(var(--bgelev1));
  padding: 15px 25px;
  margin-right: -25px;
  border-radius: 10px 0 0 10px;
  font: 400 25px carter one;
  text-align: right;
}
relt1head span {
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
relationshiptracker1 .writing {
  order: 2;
  width: 100%;
  background: rgba(var(--bgelev1));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
  font-size: 14px;
  line-height: 150%;
  text-spacing: 0.25px;
  text-align: justify;
}
relationshiptracker1 .writing overflow {
  max-height: 320px;
}
relationshiptracker1 .writing h1 {
  display: block;
  margin: 0;
  margin-top: 15px;
  font: 400 20px carter one;
  line-height: 100%;
  text-align: center;
}
relationshiptracker1 .writing h1:first-child {
  margin-top: 0;
}
relationshiptracker1 .writing h1:nth-of-type(1n) {
  color: var(--fontaccent1);
}
relationshiptracker1 .writing h1:nth-of-type(2n) {
  color: var(--fontaccent2);
}
relationshiptracker1 .writing h1:nth-of-type(3n) {
  color: var(--fontaccent3);
}
relationshiptracker1 .writing h1:nth-of-type(4n) {
  color: var(--fontaccent2);
}
relationshiptracker1 .writing p {
  margin: 0;
  margin-top: 10px;
}
relationshiptracker1 .writing p:first-child {
  margin-top: 0;
}
relationshiptracker1 .writing b, relationshiptracker1 .writing i {
  font-size: 16px;
}
relationshiptracker1 .writing b {
  font-weight: 800;
  color: var(--fontaccent2);
}
relationshiptracker1 .writing i {
  color: var(--fontaccent4);
}
relationshiptracker1 .writing u {
  font: 400 16px carter one;
  text-decoration: underline var(--fontaccent1);
}
relationshiptracker1 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
relt1gifs {
  order: 3;
  align-self: center;
  width: 160px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center center;
  align-items: center;
}
relt1gifs gif {
  display: block;
  width: 100%;
  height: 100px;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
}
relt1gifs gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
relt1gifs picture {
  display: block;
  width: 100%;
  height: 250px;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
}
relt1gifs picture img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
relt1trackingsur {
  order: 4;
  grid-column: 1 / -1;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
}
.relt1tracking {
  display: block;
  width: 100%;
  background: rgba(var(--bgelev1));
  padding: 15px;
  border-radius: 10px;
}
.relt1tracking overflow {
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center flex-start;
  align-items: center;
  max-height: 190px;
}
.relt1tracking:nth-child(odd):last-child {
  grid-column: 1 / -1;
}
.relt1tracking h2 {
  margin: 0;
  text-align: center;
  display: inline-block;
  font: 400 20px carter one;
  text-transform: lowercase;
  line-height: 100%;
}
relationshiptracker1 char {
  display: flex;
  gap: 10px;
  place-content: center space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
relationshiptracker1 char gif {
  flex: none;
  display: block;
  width: 60px;
  height: 60px;
  background: rgba(var(--bgelev1));
  padding: 5px;
  border-radius: 5px;
}
relationshiptracker1 char gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
relationshiptracker1 char infoblock {
  flex-grow: 1;
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  flex-direction: column;
  place-content: center center;
  align-items: center;
}
relationshiptracker1 char name {
  display: block;
  font-size: 12px;
  font: 400 15px carter one;
  text-transform: lowercase;
  line-height: 100%;
  color: var(--fontaccent1);
  background: rgba(var(--bgelev1));
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
relationshiptracker1 char name span {
  background-image: linear-gradient(to left, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
relationshiptracker1 char relationship {
  display: block;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
}
