@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

request1 {
  display: block;
  width: 350px;
  margin: 0 auto;
  font-family: nunito;
  font-weight: 600;
  font-size: 13px;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
 box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
request1 topper {
  padding: 20px;
  font: 400 22px carter one;
  text-transform: lowercase;
  line-height: 100%;
  display: flex;
  place-content: center space-between;
  align-items: center;
}
request1 topper span {
  display: inline-block;
  border-bottom: 5px solid rgba(var(--fontdim));
  color: var(--fontaccent4);
}
request1 topper i {
  font-size: 18px;
  color: var(--fontaccent1);
}
request1 gifsur {
  display: block;
  width: 100%;
  padding: 50px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
request1 gif {
  display: block;
  width: 100%;
  height: auto;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
 box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
request1 gif img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 130px;
  border-radius: inherit;
}
request1 writingsur {
  display: block;
  padding: 50px;
  background: rgba(var(--bgelev2));
}
request1 .writing {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: rgba(var(--bgelev1));
  text-align: justify;
  font-size: 13px;
  line-height: 150%;
}
request1 .writing overflow {
  max-height: 300px;
}
request1 .writing p {
  margin: 0;
  margin-top: 15px;
}
request1 .writing p:first-child {
  margin-top: 0;
}
request1 .writing b, thread2 .writing i, thread2 .writing u {
  font-size: 16px;
}
request1 .writing b {
  font-weight: 700;
  color: var(--fontaccent2);
}
request1 .writing i {
  font-weight: 700;
  font-style: italic;
  color: var(--fontaccent4);
}
request1 .writing u {
  font-family: carter one;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline var(--fontaccent1);
}
request1 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
request1 overview {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  place-content: center space-between;
  align-items: stretch;
}
request1 overview:empty {
  display: none;
}
request1 overview i {
  flex-grow: 1;
  margin: 3px;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  background: rgba(var(--bgelev1));
  text-align: center;
  color: var(--fontaccent3);
}
request1 overview span {
  margin: 3px;
  padding: 8px;
  border-radius: 8px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top left, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
request1 ender {
  padding: 20px;
  font: 400 22px carter one;
  text-transform: lowercase;
  line-height: 100%;
  display: flex;
  place-content: center space-between;
  align-items: center;
}
request1 ender span {
  display: inline-block;
  border-bottom: 5px solid rgba(var(--fontdim));
  color: var(--fontaccent1);
}
request1 ender i {
  font-size: 18px;
  color: var(--fontaccent2);
}
