@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

sorting1 {
  display: block;
  width: 450px;
  margin: 0 auto;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
sorting1head {
  display: flex;
  place-content: center space-between;
  align-items: center;
  padding: 15px;
  font: 400 20px carter one;
  line-height: 130%;
}
sorting1head i {
  color: var(--fontaccent1);
  font-size: 25px;
  line-height: 100%;
}
sorting1head span {
  display: inline-block;
  border-bottom: 4px solid rgba(var(--bgelev3));
  background-image: linear-gradient(to left, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
sorting1inner {
  display: block;
  padding: 50px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
sorting1 .writing {
  display: block;
  background: rgba(var(--bgelev1));
  padding: 15px;
  border-radius: 10px;
  text-align: justify;
  font-size: 14px;
  text-spacing: 0.25px;
  line-height: 150%;
}
sorting1 .writing a.user-tagged {
  font: 400 17px carter one;
  line-height: 100%;
  text-decoration: underline rgba(var(--bgelev4));
  text-decoration-style: wavy;
}
sorting1 .writing h1 {
  margin: 0;
  margin-bottom: 15px;
  font: 400 35px carter one;
  line-height: 150%;
  text-align: center;
}
sorting1 .writing h1 span {
  background-image: linear-gradient(to left, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
sorting1 .writing p {
  margin: 0;
  margin-top: 10px;
}
sorting1 .writing p:first-of-type {
  margin-top: 0;
}
sorting1 .writing b, sorting1 .writing i, sorting1 .writing u {
  font-size: 16px;
}
sorting1 .writing b {
  font-weight: 800;
  color: var(--fontaccent2);
}
sorting1 .writing i {
  color: var(--fontaccent4);
}
sorting1 .writing u {
  font-family: carter one;
  font-weight: 400;
  text-decoration: underline var(--fontaccent1);
}
sorting1 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
sorting1 sorting1bbar {
  display: flex;
  flex-wrap: wrap;
  place-content: center space-evenly;
  align-items: center;
  padding: 15px;
  font: 400 20px carter one;
}
sorting1 sorting1bbar span:before {
  content: "sort me into";
  margin-right: 5px;
}
sorting1 sorting1bbar span:after {
  content: var(--groupname);
  background-image: linear-gradient(to left, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
