@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

thread2 {
  display: block;
  width: 100%;
  padding: 15px;
  margin: 0 auto;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
  font-family: nunito;
  font-size: 14px;
  font-weight: 600;
}
thread2.small {
  width: 500px;
}
thread2in {
  width: 100%;
  overflow: hidden;
  border-radius: inherit;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: minmax(250px, 1fr);
}
thread2 sidebar {
  order: 1;
  display: flex;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
  width: 150px;
  height: auto;
  padding: 15px;
  background: rgba(var(--bgelev1)) linear-gradient(to top, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
thread2.flipped sidebar {
  order: 2;
}
thread2 gif {
  margin-bottom: 15px;
  display: block;
  width: 120px;
  height: 90px;
  padding: 6px;
  border-radius: 10px;
  background: rgba(var(--bgelev1));
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
thread2 gif img {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
thread2 tagspace {
  margin-left: -15px;
  max-width: calc(100% + 15px);
  background: rgba(var(--bgelev1));
  border-radius: 0 10px 10px 0;
  padding: 10px 15px;
  font-family: carter one;
  font-weight: 400;
  font-size: 14px;
  text-transform: lowercase;
  line-height: 120%;
  text-align: left;
}
thread2 tagspace span {
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
thread2.flipped tagspace {
  margin-left: auto;
  margin-right: -15px;
  border-radius: 10px 0 0 10px;
  text-align: right;
}
thread2 writingsurround {
  order: 2;
  width: 100%;
  height: 100%;
  background: rgba(var(--bgelev2));
  padding: 40px 0 40px 40px;
  display: flex;
  flex-direction: column;
  place-content: center center;
  align-items: center;
}
thread2.flipped writingsurround {
  order: 1;
  padding: 40px 40px 40px 0;
}
thread2 .writing {
  width: 100%;
  max-height: 320px;
  background: rgba(var(--bgelev1));
  padding: 20px;
  border-radius: 10px 0 0 10px;
  font-size: 14px;
  line-height: 150%;
  text-align: justify;
}
thread2.flipped .writing {
  border-radius: 0 10px 10px 0;
}
thread2 .writing overflow {
  height: 100%;
}
thread2 .writing p {
  margin: 0;
  margin-top: 15px;
}
thread2 .writing p:first-child {
  margin-top: 0;
}
thread2 .writing b, thread2 .writing i, thread2 .writing u {
  font-size: 16px;
}
thread2 .writing b {
  font-weight: 700;
  color: var(--fontaccent2);
}
thread2 .writing i {
  font-weight: 700;
  font-style: italic;
  color: var(--fontaccent4);
}
thread2 .writing u {
  font-family: carter one;
  font-weight: 400;
  text-decoration: underline var(--fontaccent1);
}
thread2 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
