@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url("https://use.typekit.net/jhi5swa.css");

thread8 {
  display: block;
  background: rgba(var(--bgelev1));
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .2);
  width: 500px;
  margin: auto;
  overflow: hidden;
  position: relative;
  z-index: 0;
  font: 400 14px filson-soft;
  line-height: 1;
}
thread8 .writing {
  display: block;
  margin: 50px;
  padding: 20px;
  border-top: 1px solid rgba(var(--bgelev3));
  border-bottom: 1px solid rgba(var(--bgelev3));
  text-align: justify;
  line-height: 2;
}
thread8 .writing overflow {
  max-height: 25em;
}
thread8 .writing p {
  margin: 0;
  margin-top: 20px;
  text-indent: 20px;
}
thread8 .writing p:first-letter {
  color: var(--fontaccent2);
  font: 400 16px fugaz one;
  margin-right: 2px;
  text-transform: uppercase;
  display: inline-block;
}
thread8 .writing p:first-child {
  margin-top: 0;
}
thread8 .writing b {
  color: var(--fontaccent1);
  font-size: 16px;
  font-weight: 800;
}
thread8 .writing i {
  color: var(--fontaccent4);
  font-size: 16px;
}
thread8 .writing u {
  text-decoration: underline var(--fontaccent3);
  font: 400 15px fugaz one;
}
thread8 .writing a {
  color: var(--fontaccent2);
  text-decoration: underline;
}
thread8 bottbar {
  width: 100%;
  height: auto;
  display: flex;
  place-content: center space-between;
  align-items: center;
}
thread8 gif {
  position: relative;
  display: flex;
  place-content: center center;
  align-items: center;
  width: 160px;
  height: 160px;
  padding: 30px;
  border-radius: 0 50% 0 0;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to bottom right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
thread8 gif::before {
  order: 1;
  content: "";
  position: absolute;
  display: block;
  top: -40px;
  left: 0px;
  width: 80px;
  height: 40px;
  border-radius: 0px 0px 0px 40px;
  background-color: transparent;
  box-shadow: -40px 0px 0px 0px hsl(var(--mghue1), calc(var(--mgsat1) + var(--pastelpercent)), calc(var(--lightness1) + var(--mglight1) + var(--darken)));
  z-index: -1!important;
}
thread8 gif::after {
  order: 2;
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  right: -80px;
  width: 80px;
  height: 40px;
  border-radius: 0px 0px 0px 40px;
  background-color: transparent;
  box-shadow: -40px 0px 0px 0px hsl(var(--mghue4), calc(var(--mgsat4) + var(--pastelpercent)), calc(var(--lightness1) + var(--mglight4) + var(--darken)));
  z-index: -1!important;
}
thread8 gif img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  z-index: 1;
  border: 5px solid rgba(var(--bgelev1));
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
thread8 gif img:nth-child(2) {
  display: none;
}
thread8 gif i {
  display: flex;
  place-content: center center;
  align-items: center;
  text-align: center;
  font-size: 30px;
  line-height: 1;
  color: var(--fontaccent4);
  width: 100%;
  height: 100%;
  padding: 35px;
  border-radius: 50%;
  z-index: 1;
  background: rgba(var(--bgelev1));
}
thread8 tagspace {
  background: rgba(var(--bgelev2));
  margin-right: 30px;
  padding: 15px;
  border-radius: 15px;
  font: 400 18px fugaz one;
  line-height: 1;
}
thread8 tagspace span {
  display: inline-block;
  border-bottom: 2px solid var(--fontaccent1);
}
