@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

development2 {
  display: block;
  min-width: 650px;
  width: 50%;
  margin: auto;
  background: rgba(var(--bgelev1));
  border-radius: 20px;
  font: 600 13px nunito;
  line-height: 100%;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
  overflow: hidden;
}
development2 topper {
  display: flex;
  gap: 8px;
  flex-direction: column;
  place-content: center center;
  align-items: center;
  padding: 40px 25px;
}
development2 topper h1 {
  display: inline-block;
  font: 400 40px carter one;
  margin: 0;
  line-height: 100%;
  border-bottom: 4px solid rgba(var(--bgelev6));
}
development2 topper h1 i {
  font-size: 30px;
  color: var(--fontaccent4);
}
development2 topper h1 span {
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0);
}
development2 topper h2 {
  display: block;
  margin: 0;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
}
development2 topper h2:empty {
  display: none;
}
dev2stuff {
  display: block;
  border-radius: inherit;
  padding: 50px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top left, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
.dev2stuff {
  padding: 20px;
  border-radius: inherit;
  background: rgba(var(--bgelev1));
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 130%;
  text-align: justify;
}
.dev2stuff h1, .dev2stuff h2, .dev2stuff h3, .dev2stuff h4, .dev2stuff h5, .dev2stuff h6 {
  margin: 0;
  margin-bottom: 10px;
  font-family: carter one;
  font-weight: 400;
  line-height: 100%;
  color: var(--fontaccent1);
}
.dev2stuff p {
  margin: 0;
  margin-top: 15px;
}
.dev2stuff p:first-child {
  margin-top: 0;
}
.dev2stuff b, .dev2stuff i, .dev2stuff u {
  font-size: 16px;
}
.dev2stuff b {
  font-weight: 800;
  color: var(--fontaccent4);
}
.dev2stuff i {
  color: var(--fontaccent1);
}
.dev2stuff a {
  text-decoration: underline;
  color: var(--fontaccent2);
}
.dev2stuff u {
  font: 400 16px carter one;
  text-decoration: underline var(--fontaccent2);
}
.dev2stuff del {
  text-decoration: line-through var(--fontaccent1);
}
.dev2stuff mark {
  color: rgba(var(--font));
  padding: 2px 5px;
  border-radius: 5px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
.dev2stuff blockquote {
  background: rgba(var(--bgelev3));
  margin: 20px;
  border-radius: 10px;
  padding: 15px;
}
.dev2stuff q {
  font-size: 40px;
  line-height: 100%;
  display: block;
  border-bottom: 2px solid rgba(var(--bgelev4));
  padding-bottom: 15px;
}
.dev2stuff cite {
  margin-top: 15px;
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 11px;
  line-height: 100%;
}
.dev2stuff cite:before {
  content: "-- ";
}
.dev2stuff ol, .dev2stuff ul {
  background: rgba(var(--bgelev2));
  padding: 20px;
  border-radius: 10px;
  list-style-position: inside;
  display: flex;
  gap: 10px;
  flex-direction: column;
  place-content: center flex-start;
  align-items: center;
}
.dev2stuff ol {
  list-style-type: none;
}
.dev2stuff li {
  width: 100%;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
}
.dev2stuff li a {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
  text-decoration: none;
}
.dev2stuff[class*=images] {
  background: transparent;
  box-shadow: none;
  display: grid;
  grid-gap: 15px;
  align-items: stretch;
}
.dev2stuff.images-1 {
  grid-template-columns: 1fr;
}
.dev2stuff.images-2 {
  grid-template-columns: repeat(2, 1fr);
}
.dev2stuff.images-3 {
  grid-template-columns: repeat(3, 1fr);
}
.dev2stuff.images-4 {
  grid-template-columns: repeat(4, 1fr);
}
.dev2stuff[class*=images] img {
  display: block;
  width: 100%;
  border: 10px solid rgba(var(--bgelev1));
  border-radius: 20px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
development2 bbott {
  display: block;
  height: 50px;
}
