@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

request3 {
  display: block;
  width: 400px;
  margin: auto;
  font: 600 13px nunito;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
  padding: 15px;
}
request3 gif {
  position: relative;
  display: block;
  width: 100%;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
  margin-bottom: -10px;
  z-index: 1;
}
request3 gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
request3 midspace {
  position: relative;
  display: flex;
  gap: 25px;
  flex-direction: column;
  place-content: center flex-start;
  align-items: center;
  padding: 40px;
  z-index: 2;
  border-radius: 10px;
  background: rgba(var(--bgelev3));
}
request3 reqtitle {
  display: inline-block;
  font: 400 30px carter one;
  line-height: 100%;
  text-align: center;
  border-bottom: 5px solid var(--fontaccent1);
}
request3 .writing {
  display: block;
  width: 100%;
  background: rgba(var(--bgelev1));
  padding: 25px;
  border-radius: 10px;
  font-size: 13px;
  line-height: 150%;
  text-align: justify;
  letter-spacing: 0.25px;
}
request3 .writing overflow {
  max-height: 30em;
}
request3 .writing p {
  margin: 0;
  margin-top: 15px;
}
request3 .writing p:first-child {
  margin-top: 0;
}
request3 .writing b, thread2 .writing i, thread2 .writing u {
  font-size: 15px;
}
request3 .writing b {
  font-weight: 700;
  color: var(--fontaccent2);
}
request3 .writing i {
  font-weight: 700;
  font-style: italic;
  color: var(--fontaccent4);
}
request3 .writing u {
  font-family: carter one;
  font-weight: 400;
  font-size: 15px;
  text-decoration: underline var(--fontaccent1);
}
request3 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
