@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

request2 {
  display: block;
  width: 600px;
  margin: 0 auto;
  font-family: nunito;
  font-weight: 600;
  font-size: 13px;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
 box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
request2 topper {
  padding: 20px;
  font: 400 22px carter one;
  text-transform: lowercase;
  line-height: 100%;
  display: flex;
  place-content: center space-between;
  align-items: center;
}
request2 topper span {
  display: inline-block;
  border-bottom: 5px solid rgba(var(--fontdim));
  color: var(--fontaccent4);
}
request2 topper i {
  font-size: 18px;
  color: var(--fontaccent1);
}
request2 gifsur {
  display: block;
  width: 100%;
  padding: 70px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
request2 gifsur gif {
  display: block;
  width: 100%;
  height: auto;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
 box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
request2 gifsur gif img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 300px;
  border-radius: inherit;
}
request2 writingsur {
  display: block;
  padding: 50px;
  background: rgba(var(--bgelev2));
}
request2 .writing {
  display: block;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  background: rgba(var(--bgelev1));
  text-align: justify;
  font-size: 13px;
  line-height: 150%;
}
request2 .writing overflow {
  max-height: 15em;
}
request2 .writing p {
  margin: 0;
  margin-top: 15px;
}
request2 .writing p:first-child {
  margin-top: 0;
}
request2 .writing b, thread2 .writing i, thread2 .writing u {
  font-size: 16px;
}
request2 .writing b {
  font-weight: 700;
  color: var(--fontaccent2);
}
request2 .writing i {
  font-weight: 700;
  font-style: italic;
  color: var(--fontaccent4);
}
request2 .writing u {
  font-family: carter one;
  font-weight: 400;
  font-size: 16px;
  text-decoration: underline var(--fontaccent1);
}
request2 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
request2 charspace {
  display: block;
  margin-top: 35px;
}
request2 charspace:first-child {
  margin-top: 0;
}
request2 character {
  margin-top: 15px;
  display: flex;
  place-content: center space-between;
  align-items: center;
  background: rgba(var(--bgelev1));
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .15);
}
request2 character gif {
  flex: none;
  display: block;
  background: background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  padding: 8px;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  order: 1;
}
request2 character:nth-child(odd) gif {
  order: 1;
  margin-right: 20px;
}
request2 character:nth-child(even) gif {
  order: 2;
  margin-left: 20px;
}
request2 character gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 2px solid rgba(var(--bgelev1));
}
request2 character info {
  flex-grow: 1;
  order: 2;
  display: flex;
  gap: 8px;
  flex-direction: column;
  place-content: center space-between;
  align-items: center;
}
request2 character:nth-child(odd) info {
  order: 2;
}
request2 character:nth-child(even) info {
  order: 1;
}
request2 character info name {
  display: inline-block;
  font: 400 18px carter one;
  text-transform: lowercase;
  line-height: 100%;
  border-bottom: 2px solid var(--fontaccent2);
  background-image: linear-gradient(to right, var(--fontgradient)); -webkit-background-clip: text; -webkit-text-fill-color: rgba(var(--bgelev1), 0); -webkit-box-decoration-break: clone;
}
request2 character info .blurb {
  display: block;
  width: 100%;
  text-align: justify;
  font-size: 13px;
  line-height: 150%;
}
request2 character info .blurb overflow {
  max-height: 4em;
}
request2 character info .blurb p {
  margin: 0;
  margin-top: 15px;
}
request2 character info .blurb p:first-child {
  margin-top: 0;
}
request2 character info .blurb b, thread2 character info .blurb i, thread2 character info .blurb u {
  font-size: 14px;
}
request2 character info .blurb b {
  font-weight: 700;
  color: var(--fontaccent2);
}
request2 character info .blurb i {
  font-weight: 700;
  font-style: italic;
  color: var(--fontaccent4);
}
request2 character info .blurb u {
  font-family: carter one;
  font-weight: 400;
  font-size: 14px;
  text-decoration: underline var(--fontaccent1);
}
request2 character info .blurb a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
request2 character overview {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  place-content: center space-between;
  align-items: stretch;
}
request2 character overview span {
  padding: 6px;
  border-radius: 5px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top left, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
request2 ender {
  padding: 20px;
  font: 400 22px carter one;
  text-transform: lowercase;
  line-height: 100%;
  display: flex;
  place-content: center space-between;
  align-items: center;
}
request2 ender span {
  display: inline-block;
  border-bottom: 5px solid rgba(var(--fontdim));
  color: var(--fontaccent1);
}
request2 ender i {
  font-size: 18px;
  color: var(--fontaccent2);
}
