@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

thread6 {
  display: block;
  width: 500px;
  margin: auto;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
  overflow: hidden;
  font: 600 14px nunito;
}
thread6 topper {
  display: block;
  width: 100%;
  height: 50px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
thread6 topper:first-of-type {
  background-image: linear-gradient(to right, var(--pastelgradient1));
}
thread6 topper:last-of-type {
  background-image: linear-gradient(to left, var(--pastelgradient1));
}
thread6 middle {
  display: block;
  padding: 50px;
}
thread6 giftag {
  display: flex;
  width: 100%;
  gap: 10px;
  place-content: center space-between;
  align-items: center;
}
thread6 giftag gif {
  flex: none;
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
thread6 giftag gif.circle {
  border-radius: 50%;
}
thread6 giftag gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
thread6 giftag rightblock {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-content: center center;
  align-items: center;
  text-align: center;
}
thread6 giftag gif + rightblock {
  align-items: flex-end;
}
thread6 lyr {
  font: 400 30px carter one;
  line-height: 100%;
  color: var(--fontaccent1);
  border-bottom: 5px solid rgba(var(--bgelev3));
}
thread6 lyr:empty {
  display: none;
}
thread6 tag {
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top left, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  padding: 8px;
  border-radius: 5px;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 800;
  line-height: 100%;
}
thread6 .writing {
  margin: 50px;
  margin-bottom: 25px;
  display: block;
  padding: 25px 0;
  border-top: 1px solid rgba(var(--bgelev3));
  border-bottom: 1px solid rgba(var(--bgelev3));
  font-size: 14px;
  text-align: justify;
  line-height: 175%;
  letter-spacing: 0.25px;
}
thread6 .writing overflow {
  max-height: 25em;
  padding-right: 15px;
}
thread6 .writing p {
  margin: 0;
  margin-top: 15px;
  text-indent: 15px;
}
thread6 .writing p:first-child {
  margin-top: 0;
}
thread6 .writing p:first-letter {
  color: var(--fontaccent1);
  font: 400 15px carter one;
  text-transform: uppercase;
}
thread6 .writing b {
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to bottom right, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  border-radius: 5px;
  padding: 2px 5px;
  font: 400 14px carter one;
  letter-spacing: 0.5px;
}
thread6 .writing i {
  color: var(--fontaccent1);
  font: 400 15px carter one;
}
thread6 .writing u {
  text-decoration: underline var(--fontaccent4);
  font: 400 15px carter one;
}
thread6 .writing a {
  color: var(--fontaccent2);
  text-decoration: underline;
}
