@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

thread3 {
  position: relative;
  display: block;
  width: 450px;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px;
  border-radius: 10px;
  font: 600 13px nunito;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to bottom, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
}
.thread3wave1 { display: block; width: calc(100% + 1px); height: 250px; background: rgba(var(--bgelev1)); -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'%3E%3Cpath d='M0,288L48,272C96,256,192,224,288,197.3C384,171,480,149,576,165.3C672,181,768,235,864,250.7C960,267,1056,245,1152,250.7C1248,256,1344,288,1392,304L1440,320L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); }
.thread3wave2 { display: block; width: 100%; height: 250px; background: rgba(var(--bgelev1)); -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320' preserveAspectRatio='none'%3E%3Cpath d='M0,192L60,208C120,224,240,256,360,224C480,192,600,96,720,96C840,96,960,192,1080,218.7C1200,245,1320,203,1380,181.3L1440,160L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z'%3E%3C/path%3E%3C/svg%3E"); }
threadsvgs {
  display: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
threadsvgs .thread3wave1:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  right: -1px;
  width: calc(100% + 1px);
  height: 150px;
  transform: rotate(180deg);
  transform-origin: 50% 50%;
  fill: var(--bgelev6));
}
threadsvgs .thread3wave1:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0%;
  width: 100%;
  height: 130px;
  opacity: .5;
  transform: scaleX(-1);
  transform-origin: 50% 50%;
}
threadsvgs .thread3wave2:nth-child(3) {
  position: absolute;
  bottom: -10px;
  left: 0%;
  width: 100%;
  height: 100px;
  opacity: .3;
  transform-origin: 50% 50%;
}
thread3in {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  place-content: center flex-start;
  align-items: center;
  background: rgba(var(--bgelev1));
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
}
thread3lyr1 {
  text-decoration-line: underline;
  text-decoration-color: var(--fontaccent4);
  text-decoration-style: wavy;
  margin-bottom: 30px;
  font: 400 28px carter one;
  line-height: 100%;
}
thread3 gif {
  display: block;
  margin-bottom: 30px;
  width: 100px;
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(var(--bgelev1)); background-image: linear-gradient(to top, var(--pastelgradient1)); background-blend-mode: var(--blendmode);
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .55);
}
thread3 gif.circle {
  border-radius: 50%;
}
thread3 gif img {
  display: block;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(var(--bgelev1));
  border-radius: inherit;
}
thread3 .writing {
  display: block;
  font-size: 14px;
  line-height: 150%;
  text-align: justify;
}
thread3 .writing overflow {
  max-height: 300px;
}
thread3 .writing p {
  margin: 0;
  margin-top: 10px;
  text-indent: 10px;
}
thread3 .writing p:first-letter {
  text-transform: uppercase;
  color: var(--fontaccent2);
  font-weight: 700;
}
thread3 .writing p:first-child {
  margin-top: 0;
}
thread3 .writing b, thread3 .writing i, thread3 .writing u {
  font-size: 16px;
}
thread3 .writing b {
  font-weight: 800;
  color: var(--fontaccent4);
}
thread3 .writing i {
  color: var(--fontaccent2);
}
thread3 .writing u {
  font-family: carter one;
  font-weight: 400;
  text-decoration: underline var(--fontaccent1);
}
thread3 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
thread3 tag {
  display: block;
  position: relative;
  z-index: 2;
  margin-top: 20px;
  background: rgba(var(--bgelev1));
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(var(--shadow), .25);
  font: 400 25px carter one;
  text-align: center;
  text-decoration-line: underline;
  text-decoration-color: var(--fontaccent2);
  text-decoration-style: wavy;
}
