@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

thread5 {
  display: block;
  width: 350px;
  margin: 0 auto;
  background: hsl(var(--mghue1), calc(var(--mgsat1) + var(--pastelpercent)), calc(85% + var(--mglight1) + var(--darken)));
  border-radius: 10px;
  overflow: hidden;
  font: 600 13px nunito;
}
thread5 topbott {
  display: block;
  width: 100%;
  height: 35px;
  background: hsl(var(--mghue1), calc(var(--mgsat1) + var(--pastelpercent)), calc(var(--lightness1) + var(--mglight1) + var(--darken)));
}
thread5 middle {
  display: flex;
  flex-direction: column;
  place-content: center flex-start;
  align-items: center;
  width: 100%;
  padding: 50px;
}
thread5 gif {
  display: block;
  margin-bottom: 30px;
  width: 100%;
  height: 150px;
  background: rgba(var(--bgelev1));
  padding: 10px;
  border-radius: 10px;
}
thread5 gif.circle {
  width: 150px;
  border-radius: 50%;
}
thread5 gif.square {
  width: 150px;
  border-radius: 10px;
}
thread5 gif img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
}
thread5 .writing {
  display: block;
  padding: 25px;
  background: rgba(var(--bgelev1));
  border-radius: 10px;
  text-align: justify;
  font-size: 13px;
  line-height: 150%;
}
thread5 .writing overflow {
  max-height: 20em;
}
thread5 .writing p {
  margin: 0;
  margin-top: 10px;
}
thread5 .writing p:first-child {
  margin-top: 0;
}
thread5 .writing i, thread5 .writing u {
  font-size: 15px;
}
thread5 .writing b {
  font-size: 14px;
  line-height: 100%;
  padding: 2px 5px;
  border-radius: 5px;
  background: hsl(var(--mghue1), calc(var(--mgsat1) + var(--pastelpercent)), calc(var(--lightness1) + var(--mglight1) + var(--darken)));
  -webkit-box-decoration-break: clone;
}
thread5 .writing i {
  color: var(--fontaccent1);
}
thread5 .writing u {
  font-family: carter one;
  font-weight: 400;
  text-decoration: underline var(--fontaccent1);
}
thread5 .writing a {
  color: var(--fontaccent1);
  text-decoration: underline;
}
thread5 tag {
  margin-top: 30px;
  margin-bottom: -50px;
  border-radius: 10px 10px 0 0;
  padding: 15px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 900;
  line-height: 100%;
  text-align: center;
  background: rgba(var(--bgelev1));
}
